<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Open Elective Choices For TY Students</h1>
    <form method="post" action="/submit">
      <label for="name">Name:</label>
      <input type="text" id="name" name="name" />
      <br />
      <label for="email">College Email:</label>
      <input type="email" id="email" name="email" />
      <br />
      <label for="prn">PRN:</label>
      <input type="number" id="prn" name="prn" />
      <br />
      <label for="branch">Branch:</label>
      <input type="text" id="branch" name="branch" />
      <br />
      <label for="choice">Open Elective Choice:</label>
      <input type="text" id="choice" name="choice" />
      <br />
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
